$main-color: grey;
html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:100px; }
* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;

}
#connect{
  height: 100%;
}
.contact-form{
  height: 40vh;
  width: 100%;
  h1{
    font-size: 1.5rem;
  }
  .button{
    background-color: #aaa;
    width: 100%;
    color: white;
    border: none;
    text-decoration: none;
    padding: 15px 0 15px 0;
  }
  .button:hover{
    background-color: gray;
    color: black;
  }
  .letter-input{
    width: 100%;
    border: 2px solid #aaa;
    height: 100px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  input[type="mail"] {
    width: 100%;
    border: 2px solid #aaa;
    
    margin: 8px 0;
    outline: none;
    padding: 8px 8px 8px 50px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  
  input[type="mail"]:focus {
    border-color: $main-color;
    box-shadow: 0 0 8px 0 $main-color;
  }
  
  .inputWithIcon textarea{
    padding-left: 50px;
  }
  
  .inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    height: 43px;
    width: 43px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
  }
  
  .inputWithIcon input[type="mail"]:focus + i {
    color: $main-color;
  }
  
  .inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 14px 4px;
    border-radius: 4px 0 0 4px;
  }
  
  .inputWithIcon.inputIconBg input[type="mail"]:focus + i {
    color: #fff;
    background-color: $main-color;
  }
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
}

.main-logo {
  height: 20vh;
  width: 100%;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}
.poslygi-container{
  height: 20vh;
  padding-top: 30px;
  p{
   margin: auto;
 }
 a{
   color: black;
 }
 a:hover{
  text-decoration: none;
  color: black;
}
}
.main-menu {
  height: 5vh;
  width: 100%;
  .dropdown-menu {
    border: none;
    border-radius: 0;
  }
  .dropdown-item:active {
    background-color: lightgrey;
  }
  li {
    list-style: none;
  }
  a {
    padding: 10px;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: grey;
  }
}
.main-carousel {
  height: 75vh;
  width: 100%;
  .carousel-item {
    height: 75vh;
  }
}
.page-content2{
  height: 20vh;
  padding-top: 3%;
  text-align: center;
  
}
.poslygi-content{
  h1{
    margin-top: 20px; 
  }
  h1:hover{
    color: grey;
  }
  p:hover{
    color: grey;
  }
  a{
    color: black;
  }
  a:hover{
    text-decoration: none;
    color: black;

  }
}
.contact-icons{
  a{
    color: black;
    font-size: 1.5rem;
    padding: 10px;
  }  
  a:hover{
    color: black;
    text-decoration: none;
    
  }
}
.page-content {
  height: 40vh;
  text-align: center;
  p {
    max-width: 55%;
    font-size: 1.2rem;
  }
}

.contact-container{
  h2{
    font-size: 1.4rem;
  }
  p{
    margin: auto;
    padding: 30px;
    font-size: 1.2rem;
  }
  .contact-photo{
    border-radius: 50%;
    img{
      border-radius: 50%;
      max-width: 50%;
    }
  }

}
.feedback-content{
  img{
    max-width: 100%;
  }
}
.blog-content{
  img{
    max-width: 100%;

  }
  h1{
    height: 10vh;
  }
  p{
    margin: auto;
    height: 10vh;;
  }
  p:hover{
    color: grey;
  }
  h1:hover{
    color: grey;
  }
  a:hover{
    text-decoration: none;
    color: black;
  }
  a{
    color: black;
  }
  img{
    border-radius: 0;
  }
}
.follow-us {
  height: 15vh;
}
// .arrow-up {
//   font-size: 4rem;
//   color: black;
//   a {
//     color: lightgray;
//   }
//   a:hover {
//     color: grey;
//   }
// }
.footer {   
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:100px; 
  a {
    font-size: 1.5rem;
    color: black;
    padding: 10px;
    text-decoration: none;
  }
  a:hover {
    color: grey;
    text-decoration: none;
  }
  .copyright {
    font-size: 0.7rem;
  }
}
